# 作業： 使用 Python 操作 MongoDB

# [作業目標]
* 能夠使用 Python 對 MongoDB 的資料進行增刪改查操作。
* 使用 Robo 3T 工具查看資料。

# [作業重點]
* 執行程式前，MongoDB Server 記得要先開啟。
* 若 DB、Collection 原本不存在，則直到有第一筆資料 insert 進去，才會真的建立 DB 及 Collection

# 作業1
* 建立 DB 及 Collection (名稱自訂)，使用 Python 取得連線。

In [1]:
from pymongo import MongoClient

In [2]:
labConn = MongoClient(host="127.0.0.1", port=27017)

# 作業2
* 使用 Python 操作 Mongo 中的資料。

In [3]:
dbLab = labConn['lab08']

In [4]:
collection = dbLab['member']

### Insert

In [5]:
labData = {"name":"Cathy", "phone":"0987654321", "Age":25, "email":"test@gmail.com"}

In [6]:
labResult = collection.insert_one(labData)
labResult

In [7]:
print(labResult)

<pymongo.results.InsertOneResult object at 0x000002779A2292C8>

##### insert multi-rows

In [8]:
mulDatas = [ {"name":"Rufy", "phone":"0912345678", "Age":25, "email":"test1@gmail.com"},  
            {"name":"Sunkeys", "phone":"0945612387", "Age":30, "email":"test2@gmail.com"},  
            {"name":"Bruce", "phone":"0978123654", "Age":35, "email":"test3@gmail.com"}]

In [9]:
mulResult = collection.insert_many(mulDatas)
mulResult

In [10]:
mulResult.inserted_ids

[ObjectId('5ff099b296682e85f4d04a0a'),
 ObjectId('5ff099b296682e85f4d04a0b'),
 ObjectId('5ff099b296682e85f4d04a0c')]

### delete row

In [11]:
collection.count_documents({})

4

In [12]:
collection.delete_one({"name":"Cathy"})

In [13]:
collection.count_documents({})

3

### update row

In [17]:
collection.find({"name":"Rufy"})

In [18]:
labQuery = collection.find_one({"name":"Rufy"})
labQuery

{'_id': ObjectId('5ff099b296682e85f4d04a0a'),
 'name': 'Rufy',
 'phone': '0912345678',
 'Age': 25,
 'email': 'test1@gmail.com'}

In [19]:
#Rufy age to 30
labFilter = {"name":"Rufy"}
labUpdate = {"$set":{"Age":30}}
collection.update_one(labFilter, labUpdate)

In [20]:
#check update result
labQuery = collection.find_one({"name":"Rufy"})
labQuery

{'_id': ObjectId('5ff099b296682e85f4d04a0a'),
 'name': 'Rufy',
 'phone': '0912345678',
 'Age': 30,
 'email': 'test1@gmail.com'}